<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jhua.dao.base.DataMapper">
    <select id="getUserResultSet" resultType="Res">
    select * from vr_game_platform.user
    </select>
</mapper>